body{
  margin: 0;
background-color: #E6E56C;
  text-align: center;

}
div{
  position: relative;
  background-color: #8ecff5;
margin: 0;
  display: inline-block;

width: 100%;
  

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #90303D;
  border-width: 4px;
  width: 10%;
}
h1{
font-size: 10rem;
height: 10vh;
line-height:12vh;
  color: #f5d142;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  text-shadow: 5px 5px 0px #c11a2b,
              10px 10px 0px #eb452b,
              15px 15px 0px #efa032,
              20px 20px 0px #46b59b,
              25px 25px 0px #017e7f,
              30px 30px 0px #052939;



}
.cara{
  margin-top: 50px;
  margin-bottom: 10px;

}
.revord{

  margin-top:0px;
margin-bottom: 50px;
}
h3{
  color: #90303D;
}
p{
  line-height: 30px;
  border-spacing: 10px;
}
ul{
  list-style-position: inside;
  text-align: left;
  width: 20%;
  margin: auto;
  border-spacing: 10px;
}

