body{
  background-color: #E6E56C;
  text-align: center;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #90303D;
  border-width: 4px;
  width: 10%;
}
h1{
  color: #90303D;
}
h3{
  color: #90303D;
}
ul{
  list-style-position: inside;
  text-align: left;
  width: 20%;
  margin: auto;
  border-spacing: 10px;
}
p{
  line-height: 30px;
  border-spacing: 10px;
}
